<!-- Footer -->
<div id="footer">
  <div class="inner">
    <div class="container-fluid">
      <div class="row">
        <div class="span16">
          <p>
            Built at <a href="https://twitter.com/twitter"
            target="_blank">@twitter</a> by
            <a href="https://twitter.com/stevej" target="_blank">@stevej</a>,
            <a href="https://twitter.com/marius" target="_blank">@marius</a>, and
            <a href="https://twitter.com/lahosken" target="_blank">@lahosken</a>
            with much help from
            <a href="https://twitter.com/evanm" target="_blank">@evanm</a>,
            <a href="https://twitter.com/sprsquish" target="_blank">@sprsquish</a>,
            <a href="https://twitter.com/kevino" target="_blank">@kevino</a>,
            <a href="https://twitter.com/zuercher" target="_blank">@zuercher</a>,
            <a href="https://twitter.com/timtrueman" target="_blank">@timtrueman</a>,
            <a href="https://twitter.com/wickman" target="_blank">@wickman</a>,
            <a href="https://twitter.com/mccv" target="_blank">@mccv</a>
            and <a href="https://github.com/garciparedes" target="_blank">@garciparedes</a>;
            Russian translation by
            <a href="https://github.com/appigram">appigram</a>;
            Chinese simple translation by
            <a href="https://github.com/jasonqu">jasonqu</a>;
            Korean translation by
            <a href="https://github.com/enshahar">enshahar</a>;<br />
            <br />
            Licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
