<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Scala School - {{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.min.css">

  </head>

  <body>
  
    <div class="topbar">
      <div class="fill">
        <div class="container fixed">
          <h3><a href="index.html">{{ page.title }}</a></h3>
          <ul class="nav secondary-nav">
            {% if page.previous.url %}
              <li><a href="{{ page.previous.url }}">&laquo;Previous</a></li>
            {% endif %}
            {% if page.next.url %}
              <li><a href="{{ page.next.url }}">Next&raquo;</a></li>
            {% endif %}
          </ul>

        </div>
      </div>
    </div>

    <div class="container" style="padding-top: 60px;">
      {{ content }}
    </div> <!-- /container -->

    <div id="footer">
      <div class="inner">
        <div class="container">
          <p>
            Built at <a href="http://twitter.com/twitter" target="_blank">@twitter</a> by <a href="http://twitter.com/stevej" target="_blank">@stevej</a> and <a href="http://twitter.com/marius" target="_blank">@marius</a>.<br />
            Licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>.
          </p>
        </div>
      </div>
    </div>

  </body>
</html>
